h1 {
  border: 2px solid black;
  border-right-width: 5px;
  border-left-width: 5px;
}
html {
  background-color: lightgreen;
}
img {
  width: 1000px;
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  text-align: center;
  color: black;
}
