p {
color: lightblue;
background-color: light blue;
border: 1px solid black;
font size: 12px;
font weight: normal;
font family: “Times”; 
}

img {
width: 20px;
height: 20px;
border 2px solid maroon;
}

li {
color: lightblue;
background-color: light blue;
border: 1px solid black;
font size: 12px;
font weight: normal;
font family: “Times”; 
}

a {
font size: 12px;
color: blue;
} 

