h1, h2 { 
text-align: center;
  border: 3px solid gray;
  border-right-width: 5px;
  border-left-width: 5px;
}
html {
  background-color: lightblue;
}
img {
  width: 650px;
  height: 400px;
  text-align: center;
}
nav {
  display: inline;
}
a {
  font-size: 30px;
}
li {
  font-size: 15px;
}

p {
  text-align: center;
  font-size: 25px;
  color: darkgray;
}
